.DrawerToggle{
    width:40px;
    height: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    background: #3B7339;
    border-radius: 4px;
}

.DrawerToggle div{
    width:90%;
    height: 3px;
    background-color: white;
}

@media (min-width:661px){
    .DrawerToggle {
        display: none;
    }
}